/*Layouts*/
.container {
  min-height: 100vh;
  width: 100%;
}
.header {
  padding: 24px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main {
  margin-top: 100px;
}
.showcase {
  margin-top: 50px;
}
.showcase:-webkit-scrollbar {
  display: none;
}

/*Modules*/
.logo {
  width: 32px;
  height: 32px;
  flex: 0 0 32px;
}
.nav {
  flex: 0 0 36%;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu a {
  font-size: 1.6rem;
  line-height: 24px;
  font-weight: normal;
  text-align: center;
}
.menu__link {
  font-size: 1.6rem;
  line-height: 24px;
  font-weight: normal;
  text-align: center;
}
.hamburger {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.hero {
  padding: 0 5px;
}
.hero__heading {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.6;
}
.hero__heading span {
  display: inline-block;
}
.hero__line1 {
  padding: 0 24.5px;
  overflow: hidden;
}
.hero__line2 {
  padding: 0 18px;
  overflow: hidden;
}
.codebtn {
  text-align: center;
  margin-top: 32px;
}
.box {
  width: 64px;
  height: 64px;
  border-radius: 24px;
  background-color: #2ac940;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.box2 {
  width: 32px;
  height: 32px;
  border-radius: 12px;
  background-color: #fff;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.boxAnim {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 8px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.qr {
  padding-top: 10px;
}
.scanner {
  /*top: 50%;*/
}
.phone {
  width: 200px;
  height: 300px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: #f1f5ff;
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
}
/*Media queries*/
@media screen and (min-width: 320px) {
  .phone {
    width: 300px;
  }
}
@media screen and (min-width: 360px) {
  .hero__heading {
    font-size: 2.4rem;
  }
  .header {
    padding: 24px 28px;
  }
  .phone {
    width: 340px;
    height: 340px;
  }
}
@media screen and (min-width: 400px) {
  .phone {
    width: 390px;
  }
}
@media screen and (min-width: 500px) {
  .hero__heading {
    font-size: 3.2rem;
  }
  .header {
    padding: 24px 48px;
  }
  .codebtn {
    margin-top: 52px;
  }
  .phone {
    width: 480px;
  }
}
@media screen and (min-width: 700px) {
  .hero__heading {
    font-size: 4vw;
  }
  .header {
    padding: 24px 78px;
  }
  .phone {
    width: 600px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 0 40px;
  }
  .phone {
    width: 660px;
  }
}
@media screen and (min-width: 999px) {
  .hamburger {
    display: none;
  }
  .hero {
    padding: 0 100px;
  }
  .codebtn {
    margin-top: 72px;
  }
  .phone {
    width: 760px;
    height: 440px;
  }
}
@media screen and (min-width: 1444px) {
  .container {
    width: 1440px;
    margin: 0 auto;
  }
  .header {
    padding: 24px 128px;
  }
  .hero {
    padding: 0 320px;
  }
  .hero__heading {
    font-size: 6.4rem;
    line-height: 96px;
  }
  .codebtn {
    margin-top: 92px;
  }

  .showcase {
    margin-top: 178px;
  }
  .phone {
    width: 960px;
    height: 640px;
  }
}
@media screen and (max-width: 998px) {
  .nav {
    display: none;
  }
}
